aider-chat==0.51.1
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
altair==5.2.0
annotated-types==0.7.0
anthropic==0.30.0
anyio==4.4.0
appnope==0.1.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
asttokens==2.4.1
async-lru==2.0.4
attrs==24.2.0
Babel==2.14.0
backoff==2.2.1
beautifulsoup4==4.12.3
binaryornot==0.4.4
black==24.2.0
bleach==6.1.0
blinker==1.7.0
Brotli==1.1.0
cachetools==5.3.2
calmap==0.0.11
certifi==2024.7.4
cffi==1.17.0
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.7
cloup==3.0.5
comm==0.2.1
ConfigArgParse==1.7
contourpy==1.2.0
cookiecutter==2.6.0
cryptography==43.0.0
customtkinter==5.2.2
cycler==0.12.1
Cython==3.0.11
darkdetect==0.8.0
dataclasses-json==0.6.7
datasets==2.19.0
debugpy==1.8.0
decorator==4.4.2
deepdiff==8.0.1
defusedxml==0.7.1
diff-match-patch==20230430
dill==0.3.8
diskcache==5.6.3
distro==1.9.0
Django==5.0.6
django-cors-headers==4.3.1
djangorestframework==3.15.1
elevenlabs==1.0.0b1
emoji==2.12.1
entrypoints==0.4
executing==2.0.1
faiss-cpu==1.8.0
Faker==23.3.0
fastapi==0.101.1
fastjsonschema==2.19.1
favicon==0.7.0
filelock==3.15.4
filetype==1.2.0
flake8==7.1.1
Flask==3.0.2
flet==0.19.0
flet-core==0.19.0
flet-fastapi==0.19.0
flet-runtime==0.19.0
fonttools==4.47.0
fpdf2==2.7.9
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.6.1
gitdb==4.0.11
GitPython==3.1.43
glcontext==3.0.0
google-ai-generativelanguage==0.6.6
google-api-core==2.19.1
google-api-python-client==2.137.0
google-auth==2.32.0
google-auth-httplib2==0.2.0
google-generativeai==0.7.2
googleapis-common-protos==1.63.2
googletrans==4.0.0rc1
greenlet==3.0.3
grep-ast==0.3.3
groq==0.9.0
grpcio==1.65.1
grpcio-status==1.62.2
h11==0.14.0
h2==3.2.0
hpack==3.0.0
hstspreload==2024.9.1
htbuilder==0.6.2
httpcore==1.0.5
httplib2==0.22.0
httptools==0.6.1
httpx==0.27.2
huggingface-hub==0.24.6
hyperframe==5.2.0
idna==2.10
imageio==2.34.2
imageio-ffmpeg==0.5.1
importlib_metadata==7.2.1
importlib_resources==6.4.3
ipykernel==6.28.0
ipython==8.19.0
ipywidgets==8.1.2
isoduration==20.11.0
isort==5.13.2
isosurfaces==0.1.2
itk==5.4.0
itk-core==5.4.0
itk-filtering==5.4.0
itk-io==5.4.0
itk-numerics==5.4.0
itk-registration==5.4.0
itk-segmentation==5.4.0
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.4
jiter==0.5.0
joblib==1.3.2
JPype1==1.5.0
json5==0.9.14
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==2.4
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter-events==0.9.0
jupyter-lsp==2.2.1
jupyter_client==8.6.0
jupyter_core==5.7.0
jupyter_server==2.12.2
jupyter_server_terminals==0.5.1
jupyterlab==4.0.10
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.2
jupyterlab_widgets==3.0.10
kiwipiepy==0.17.1
kiwipiepy-model==0.17.0
kiwisolver==1.4.5
konlpy==0.6.0
koreanize-matplotlib==0.1.1
langchain==0.2.10
langchain-community==0.0.24
langchain-core==0.2.22
langchain-openai==0.0.8
langchain-teddynote==0.0.19
langchain-text-splitters==0.2.2
langdetect==1.0.9
langgraph==0.0.26
langsmith==0.1.93
litellm==1.43.19
llvmlite==0.43.0
lxml==5.1.0
lz4==4.3.3
manim==0.18.1
ManimPango==0.5.0
mapbox_earcut==1.0.2
Markdown==3.5.2
markdown-it-py==3.0.0
markdownlit==0.0.7
MarkupSafe==2.1.5
marshmallow==3.20.1
matplotlib==3.8.2
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
mistune==3.0.2
mmh3==4.1.0
moderngl==5.11.1
moderngl-window==2.4.6
monai==1.3.2
more-itertools==10.2.0
moviepy==1.0.3
mpmath==1.3.0
multidict==6.0.5
multipledispatch==1.0.0
multiprocess==0.70.16
mutagen==1.47.0
mypy==1.8.0
mypy-extensions==1.0.0
mysql-connector-python==8.3.0
mysqlclient==2.2.4
nbclient==0.9.0
nbconvert==7.14.0
nbformat==5.9.2
nest-asyncio==1.6.0
networkx==3.2.1
nltk==3.8.2
notebook_shim==0.2.3
numba==0.60.0
numpy==1.26.4
oauthlib==3.2.2
olefile==0.47
openai==1.42.0
opencv-python==4.10.0.82
orderly-set==5.2.2
orjson==3.9.15
overrides==7.4.0
packaging==24.1
paho-mqtt==2.1.0
pandas==2.1.4
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.12.1
pdf2image==1.17.0
pdfkit==1.0.0
pdfminer.six==20231228
pdfplumber==0.11.4
pexpect==4.9.0
pillow==10.4.0
pinecone-client==5.0.1
pinecone-plugin-inference==1.0.3
pinecone-plugin-interface==0.0.7
pinecone-text==0.9.0
platformdirs==4.1.0
plotly==5.21.0
proglog==0.1.10
prometheus-client==0.19.0
prompt_toolkit==3.0.47
proto-plus==1.24.0
protobuf==4.25.1
protoc-gen-openapiv2==0.0.1
psutil==5.9.7
ptyprocess==0.7.0
pure-eval==0.2.2
py4j==0.10.9.7
pyarrow==14.0.2
pyarrow-hotfix==0.6
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycairo==1.26.1
pycodestyle==2.12.1
pycparser==2.22
pycryptodomex==3.20.0
pydantic==2.8.2
pydantic_core==2.20.1
pydeck==0.8.1b0
pydicom==2.4.4
pydub==0.25.1
pyflakes==3.2.0
pygame==2.5.2
pyglet==2.0.17
Pygments==2.18.0
pymdown-extensions==10.7
PyMuPDF==1.24.9
PyMuPDFb==1.24.9
pyobjc-core==10.3.1
pyobjc-framework-Cocoa==10.3.1
pypager==3.0.1
pypandoc==1.13
pyparsing==3.1.1
pypdf==4.3.1
PyPDF2==3.0.1
pypdfium2==4.30.0
pyperclip==1.9.0
pypng==0.20220715.0
pyrr==0.10.3
pyspark==3.5.0
pytesseract==0.3.13
python-dateutil==2.8.2
python-dotenv==1.0.1
python-iso639==2024.4.27
python-json-logger==2.0.7
python-magic==0.4.27
python-oxmsg==0.0.1
python-slugify==8.0.4
pytz==2023.3.post1
PyYAML==6.0.2
pyzbar==0.1.9
pyzmq==25.1.2
qrcode==7.4.2
rank-bm25==0.2.2
rapidfuzz==3.9.6
referencing==0.35.1
regex==2024.7.24
repath==0.9.0
reportlab==4.2.2
requests==2.32.3
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.20.0
rsa==4.9
safetensors==0.4.1
scikit-learn==1.3.2
scipy==1.13.1
screeninfo==0.8.1
seaborn==0.13.2
Send2Trash==1.8.2
SimpleITK==2.4.0
six==1.16.0
skia-pathops==0.8.0.post1
smmap==5.0.1
sniffio==1.3.1
sounddevice==0.5.0
soundfile==0.12.1
soupsieve==2.6
SQLAlchemy==2.0.23
sqlparse==0.5.0
srt==3.5.3
st-annotated-text==4.0.1
stack-data==0.6.3
starlette==0.27.0
streamlit==1.31.1
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.0
streamlit-embedcode==0.1.2
streamlit-extras==0.4.0
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.6
streamlit-keyup==0.2.3
streamlit-shadcn-ui==0.1.18
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
svgelements==1.9.6
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
terminado==0.18.0
text-unidecode==1.3
threadpoolctl==3.2.0
tiktoken==0.7.0
tinycss2==1.2.1
tokenizers==0.19.1
toml==0.10.2
toolz==0.12.0
torch==2.1.2
torchaudio==2.1.2
torchvision==0.16.2
tornado==6.4
tqdm==4.66.5
traitlets==5.14.1
transformers==4.36.2
tree-sitter==0.21.3
tree-sitter-languages==1.10.2
ttkbootstrap==1.10.1
types-python-dateutil==2.8.19.20240106
types-requests==2.32.0.20240712
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2023.3
tzlocal==5.2
unstructured==0.15.9
unstructured-client==0.25.6
uri-template==1.3.0
uritemplate==4.1.1
urllib3==2.2.2
uvicorn==0.25.0
uvloop==0.19.0
validators==0.22.0
watchdog==3.0.0
watchfiles==0.21.0
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
websockets==12.0
Werkzeug==3.0.1
wget==3.2
widgetsnbextension==4.0.10
wikipedia==1.4.0
wrapt==1.16.0
xgboost==2.1.1
xxhash==3.4.1
yarl==1.9.4
yt-dlp==2024.8.6
zipp==3.20.0
